.posts {
    list-style-type: none;
    margin: 0;
}

.post {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid;
    transition: all 0.7s ease-in-out;


    a {
        color: #000000; 
        display: block;
        padding: 1rem 0;
        text-decoration: none;  
        transition: all 0.7s ease-in-out;
        -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

    }

        a:hover {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);  
            padding: 1rem 0;
        }
}

.post:hover {
    background-color: black;
    a {
        padding-left:5rem;

    color: white;
    }
}