.header {
    padding: 1rem 0 3rem;
}

.topHeader {
    display: flex;
}

.title {
    color: #000000;
    font-size: 3rem;
    text-decoration: none;
}

.navList {
    display: flex;
    list-style-type: none;
    margin: 0;
}
.navItem {
    color: #999999;
    font-size: .9rem;
    margin-right: 1.3rem;
}

.navItem:hover {
    color:#666666;
}

.active-nav-item {
    color: #333333
}